<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <!--Mototransportamos-->
    <add name="systramconnectionstringtamos" connectionString="server=mototransportamos.systram.com.co; user id=informesmoto; password=b7eb8473d911d57387f50d5406e50380; database=systram_moto; port=3306; POOLING=FALSE;" />
    <add name="SystramInformesconnectionstringtamos" connectionString="server=mototransportamos.systram.com.co; user id=informesmoto; password=b7eb8473d911d57387f50d5406e50380; database=systram_moto; port=3306; POOLING=FALSE;" />
    <!--Mototransportar-->
    <add name="systramconnectionstringtar" connectionString="server=mototransportar.systram.com.co; user id=informesmoto; password=b7eb8473d911d57387f50d5406e50380; database=systram_mototransp; port=3306; POOLING=FALSE;" />
    <add name="SystramInformesconnectionstringtar" connectionString="server=mototransportar.systram.com.co; user id=informesmoto; password=b7eb8473d911d57387f50d5406e50380; database=systram_mototransp; port=3306; POOLING=FALSE;" />
    <!--Refrilogistica-->
    <add name="systramconnectionstringrefri" connectionString="server=refrilogistica.systram.com.co; user id=informesmoto; password=b7eb8473d911d57387f50d5406e50380; database=systram_refrilogistica; port=3306; POOLING=FALSE;" />
    <add name="SystramInformesconnectionstringrefri" connectionString="server=refrilogistica.systram.com.co; user id=informesmoto; password=b7eb8473d911d57387f50d5406e50380; database=systram_refrilogistica; port=3306; POOLING=FALSE;" />
    <!--<add name="systramconnectionstringSQL" connectionString="Server=192.168.1.240; Database=Mototransportar; User Id=moto; Password=Adm789**;"/>-->
    
    <!--TITAN SQL-->
    <!--<add name="systramconnectionstringSQL" connectionString="Server=TITAN; Database=Mototransportar; User Id=sa; Password=Adm789**;"/>-->

    <!--192.168.9.50 SQL-->
    <add name="systramconnectionstringSQL" connectionString="Server=192.168.9.250; Database=Mototransportar; User Id=sa; Password=Adm789**;"/>
    <add name="systramconnectionstringMotosegSQL" connectionString="Server=192.168.9.250; Database=Motoseguridad; User Id=sa; Password=Adm789**;"/>
    
    <!--CEFATRANS SQL-->
    <!--<add name="systramconnectionstringSQL" connectionString="Server=SERVCEFATRANS; Database=Mototransportar; User Id=sa; Password=Adm789**;"/>-->
    
    <!--CEFATRANS IP SQL-->
    <!--<add name="systramconnectionstringSQL" connectionString="Server=192.168.9.252; Database=Mototransportar; User Id=sa; Password=Adm789**;" />-->
    
    <!--LOCAL SQL-->
    <!--<add name="systramconnectionstringSQL" connectionString="Server=DESARROLLO; Database=Mototransportar; User Id=sa; Password=Asd789**;" />-->
    
    <add name="MototransportarEntities" connectionString="metadata=res://*/App_Code.Model.csdl|res://*/App_Code.Model.ssdl|res://*/App_Code.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVCEFATRANS;initial catalog=Mototransportar;persist security info=True;user id=sa;password=Adm789**;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <sessionState mode="InProc" timeout="525600"/>
    <httpRuntime maxRequestLength="1000000" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0">
      
    <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls></pages>
  </system.web>
  <appSettings>
    <add key="cachebd" value="systram_moto" />
    <add key="bdsel" value="1" />
    <add key="AWSAccessKey" value="AKIAZK6DHVLUFOOWFIHM" />
    <add key="AWSSecretKey" value="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" />
    <add key="AWSRegion" value="us-east-1" />
    <!--<add key="dsn" value="Data Source=192.168.1.240;Initial Catalog=Mototransportar;Integrated Security=True" />-->
    <add key="dsn" value="Data Source=SERVERREFRI\BSSERVER;Initial Catalog=Mototransportar;Integrated Security=True" />
    <add key="dsnmotoseguridad" value="Data Source=SERVERREFRI\BSSERVER;Initial Catalog=Motoseguridad;Integrated Security=True" />
  </appSettings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>